{% extends "index.twig" %}#}

{% block body %}
    <section class="home"></section>
    <h1>Table of contents</h1>
    <ul>
        {% for page in pages %}
            <li><a href="//{{ host }}/lessons/{{ page.slug }}">{{ page.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}